	@import url('https://fonts.googleapis.com/css?family=Cherry+Swash');
	@import url('https://fonts.googleapis.com/css?family=Lato');
	@import url('https://fonts.googleapis.com/css?family=Lobster+Two');
	@import url('https://fonts.googleapis.com/css?family=Pinyon+Script');


/* Orange in logo is #f57f15
	Pink in Logo is #f7acad
	Fonts are gray: #917c7c

	font-family: 'Cherry Swash', cursive;
	font-family: 'Lato', sans-serif;
	font-family: 'Lobster-Two';
*/

* {
	margin: 0;
	box-sizing: border-box;
}

.wrapper {
	width: 1080px;
	margin: 0 auto;
}

header {
	background-color: #FFED74;
	border: 1px black solid;
	height: 100px;
}


nav { 
	margin:	0px;
	padding: 0px;
	height: 160px;
	width: 1080px;
}


nav a {

	color: #ccc;
	display: block;
	width: 216px;
	float: left;
}


.navlinks {
	font-family: 'Lobster Two', cursive;
	color: #917c7c;
	font-style: normal;
	font-size: 24px;
	text-decoration: none;
	height: 160px;
	padding: 100px 25px 10px 25px;

	
}

.navimg {
	padding: 23px 25px 0px 25px;
 
}

.nav-bg-img {
	width: 1080px;

}



.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


body {
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #917c7c;
	line-height: 1.3;
	margin: 14px 24px 0px 0px;
	height: auto;
	background-color: #fff;
}



#two_column {
	width: 1080px;
	background-color: #FFb7CF;
	border: 1px black solid;
	padding: 20px;

}

#left {
    background-color: violet;
    border: 1px black solid;
    padding: 10px;
    float: left;
    width: 50%;
    height: 400px;

}

#loc_left {
    background-color: violet;
    border: 1px black solid;
    padding: 10px;
    float: left;
    width: 25%;
    height: 400px;

}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 50%;
    height: 400px;
}



#loc_left {
    background-color: violet;
    border: 1px black solid;
    padding: 10px;
    float: left;
    width: 50%;
    height: 400px;

}

/*#loc_center {
    background-color: violet;
    border: 1px black solid;
    padding: 0px;
    width: 25%;

}

*/

#loc_right {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 50%;
    height: 400px;
}

aside {

	float:right;
	align-content: left;
	vertical-align: top;
	padding: 24px 0px 0px 0px;

}

article {
		width: 600px;
		float: right;
		align-content: left;

}



h1 {
	width: 800px;
	text-align: center;
	color: #917c7c;
	padding-left: 24px;
	font-size: 2em
	padding-bottom: 0px;
}


h2 {
	font-family: 'Lato', sans-serif;
	font-size: 2em;
	color: #917c7c;
	padding: 12px;
	text-align: center;

}

h3, h4, h5 {

	margin-bottom: 2px;
	font-family: 'Lobster Two', cursive;
	font-size: 1.5em;
	padding-top: .5em;

}



p {
	align-content: top;
	padding: 24px 24px 10px 0px;
}

a {
	color: #241F1F;
	text-decoration: none;
}



img {
	width: auto;
}



ul, ol {
	margin-left: 24px;
}


td {
	columns: 360px;
}




#locations {
	width: 340px;
	padding: 10px;
	margin: 0 10px;
	text-align: center;
	float: left;
}

#locations a {
	font-family: 'Lato', sans-serif;
	font-size: 2em;
	color: #917c7c;
	padding: 12px;
	text-align: center;
}



#three_column a {
	font-family: 'Lato', sans-serif;
	font-size: 2em;
	color: #917c7c;
	padding: 12px;
	text-align: center;
	text-decoration-line: 2px solid black;
}




address {
	font-size: .75em;
	font-style: normal;
	color: #917c7c;
	text-align: center;
}





footer {
	height: 200px;
	padding-top: 50px;
	color: #3F4040;
	text-align: center;
	text-decoration: none;
	height: 200px;
}


.footer-link {
	text-decoration:none;
	color:#917c7c;
	border-bottom: 1px solid #917c7c;
}

.footer-copy{
	font-size: .85em; 
	background-color: #fff;
	color: #3F4040;
	line-height: 1.75;
	padding: 20px 0px 10px 0px;
}

.nav-bg-img-bottom {
	width: 1080px;
	height: 100px;
	align-content: center;
	padding-top: 25px;

}